{{ define "page-meta" }}

	<meta property="og:title" content="{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}">
	{{ with .Params.Summary }}<meta property="og:description" content="{{ . }}">{{ end }}
	<meta property="og:url" content="{{ .Permalink }}">
	
	{{/* Specific meta for Resume */}}
	<meta property="og:type" content="profile">
	{{ with .Site.Data.resume.first_name }}
	<meta property="profile:first_name" content="{{ . }}">
	{{ end }}
	{{ with .Site.Data.resume.last_name }}
	<meta property="profile:last_name" content="{{ . }}">
	{{ end }}
	{{ with .Site.Data.resume.username }}
	<meta property="profile:username" content="{{ . }}">
	{{ end }}
	{{ with .Site.Data.resume.gender }}
	<meta property="profile:gender" content="{{ . }}">
	{{ end }}

	{{/* Shows post's specific image if set, otherwise displays site's global o:g image */}}
	{{ if (.Params.Image) }}
	<meta property="og:image" content="{{ .Permalink }}{{ .Params.Image }}">
	{{ else if (.Site.Params.siteImage) }}
	<meta property="og:image" content="{{ $.Site.BaseURL }}{{ .Site.Params.SiteImage }}">
	{{ end }}

{{ end }}



{{ define "main" }}

{{/*
	We use the index function to find the directory in .Site.Data which corresponds to the current language’s code. Then we can use $data wherever needed in the template file.
	-- https://regisphilibert.com/blog/2018/08/hugo-multilingual-part-1-managing-content-translation/#data-files
*/}}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{/*
	Keeping this DRY, since we'll grab data from `resume.yaml` file only anyway
*/}}
{{ $resume := $data.resume }}

<div class="h-resume">
	
	<p class="p-contact h-card">
		<h2 class="p-name">
			<span class="p-given-name">{{ $resume.first_name }}</span>
			<span class="p-family-name">{{ $resume.last_name }}</span>
		</h2>
		<img class="u-photo" src="{{ $resume.photo }}" alt="Photo of {{ $resume.first_name }} {{ $resume.last_name }}">
		<a class="u-email" href="mailto:{{ $resume.email }}">{{ $resume.email }}</a> 
		PGP: <a class="u-key" href="{{ $resume.gpg_key_path }}" target="_blank">{{ $resume.gpg_key }}</a>
		<div class="p-tel">{{ $resume.tel }}</div>
	</p>

	{{/* partial "social-follow.html" . */}}
	
	<p class="p-summary">{{ $resume.summary }}</p>


	<h3>Work Experience</h3>

	{{ range $resume.experience }}
	<div class="p-experience h-event">
		<h4 class="p-name">
			<span class="p-job-title">{{ .title }}</span>
			at
			<a href="{{ .link }}" class="h-card p-name p-org">{{ .company }}</a>
		</h4>
		<small>
			<time class="dt-start" datetime="{{ .from }}">{{ .from }}</time>
			&ndash;
			<time class="dt-end" datetime="{{ .to }}">{{ .to }}</time>,
			<span class="p-location">{{ .location }}</span>
		</small>
		<p class="p-summary">{{ .summary | markdownify }}</p>
	</div>
	{{ end }}


	<h3>Other Experience</h3>

	{{ range $resume.other }}
	<div class="p-experience h-event">
		<h4 class="p-name">
			<span class="p-job-title">{{ .title }}</span>
			at
			<a href="{{ .link }}" class="h-card p-name p-org">{{ .company }}</a>
		</h4>
		<small>
			<time class="dt-start" datetime="{{ .from }}">{{ .from }}</time>
			&ndash;
			<time class="dt-end" datetime="{{ .to }}">{{ .to }}</time>,
			<span class="p-location">{{ .location }}</span>
		</small>
		<p class="p-summary">{{ .summary | markdownify }}</p>
	</div>
	{{ end }}

	<h3>Education</h3>

	{{ range $resume.education }}
	<div class="p-education h-event">
		<h4 class="p-name">
			<span class="p-job-title">{{ .title }}</span>
			at
			<span class="h-card p-name p-org">{{ .school }}</span>
		</h4>
		<small>
			<time class="dt-start" datetime="{{ .from }}">{{ .from }}</time>
			&ndash;
			<time class="dt-end" datetime="{{ .to }}">{{ .to }}</time>,
			<span class="p-location">{{ .location }}</span>
		</small>
		<p class="p-summary">{{ .summary | markdownify }}</p>
	</div>
	{{ end }}


	<h3>Skills</h3>

	<ul>
		{{ range $resume.skills }}
		<li class="p-skill">{{ . | markdownify }}</li>
		{{ end }}
	</ul>


	<h3>Interests</h3>

	<ul>
		{{ range $resume.interests }}
		<li>{{ . | markdownify }}</li>
		{{ end }}
	</ul>


	<small>
		Updated
		<time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
			{{- .Lastmod.Format "January 2, 2006" -}}
		</time>
	</small>
	
</div><!-- .h-resume -->

{{ end }}
