{{/* define "header" }}
{{ partial "page-header.html" . }}
{{ end */}}


{{ define "main" }}
<div>
	<article class="h-entry">
		<header>
			<p>
				{{ humanize .Section | upper }}
			</p>
			<h1 class="p-name">
				{{ .Title }}
			</h1>
		</header>
		<div class="e-content">
			{{ .Content }}
		</div>
	</article>
</div>
{{ end }}