<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	{{/* hugo.Generator */}}

	{{ block "page-meta" . }}
	<meta property="og:title" content="{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}">
	<meta property="og:description" content="{{ with .Params.Summary }}{{ . }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	{{ with .Site.Params.SiteImage }}<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ end }}
	{{ end }}

	<!-- Translations -->
	{{ if .IsTranslated }}
		{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
		{{ end }}
	{{ end }}

	<!-- Robots -->
	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	{{ else }}
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{{ end }}

	<!-- Styles -->
	{{ $stylesheet := .Site.Data.webpack_assets.app }}
	{{ with $stylesheet.css }}
	<link href="{{ relURL (printf "%s%s" "dist/" .) }}?t={{ now.Unix }}" rel="stylesheet">
	{{ end }}

	{{ range .Site.Params.custom_css }}
	<link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
	{{ end }}

	<!-- Favicon -->
	{{ block "favicon" . }}
	<!-- Generate favicon @ https://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/images/favicon/site.webmanifest?v=2">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=2" color="#27262b">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#27262b">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=2">
  <meta name="theme-color" content="#27262b">
	{{ end }}

	<!-- RSS -->
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	{{ partial "analytics.html" . }}
	{{ end }}
</head>


<!-- Optionally add classes via parameter `class: someclass` in file's YAML frontmatter -->
<body class="{{ .Type }}{{ with .Params.Class }} {{ . }}{{ end }}">

	{{ block "header" . }}
	{{ partial "site-header.html" . }}
	{{ end }}

	<main role="main">
		{{/* partial "breadcrumbs.html" . */}}
		{{ block "main" . }}{{ end }}
	</main>

	{{ block "footer" . }}
	{{ partial "site-footer.html" . }}
	{{ end }}

	{{ block "scripts" . }}
	{{ partial "site-scripts.html" . }}
	{{ end }}

	<!-- Show responsive helper only for development -->
	{{/* if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	{{ else }}
	<div class="debug-responsivity" aria-hidden="true">
		<div class="size xs">XS</div>
		<div class="size s">S</div>
		<div class="size m">M</div>
		<div class="size t">T</div>
		<div class="size l">L</div>
		<div class="size xl">XL</div>
	</div>
	{{ end */}}

</body>
</html>
