{{/* define "header" */}}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{/* partial "page-header.html" . */}}
{{/* end */}}



{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article class="h-entry">

	<header>
		<p>
			{{/*
			CurrentSection allows us to use the section title instead of inferring from the folder.
			https://gohugo.io/variables/page/#section-variables-and-methods
			*/}}
			{{ with .CurrentSection.Title }}{{ . | upper }}{{ end }}
		</p>

		{{ with .Params.Image }}
			<div class="featured-image">
				<img src="{{ . }}">
			</div>
		{{ end }}

		<h1 class="p-name">
			{{- .Title -}}
		</h1>

		{{ with .Params.Summary }}
			<p class="p-summary">{{ . }}</p>
		{{ end }}


		{{/* Hugo uses Go's date formatting is set by example. Here are two formats */}}
		<p>
			Written
			<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
				{{- .Date.Format "January 2, 2006" -}}
			</time>
			by
			<span class="p-author h-card">{{ .Params.Author }}</span>
			&bull;
			Updated
			<time class="dt-updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
				{{- .Lastmod.Format "January 2, 2006" -}}
			</time>
		</p>

	</header>

	{{ partial "toc.html" . }}

	<section class="e-content">
		{{- .Content -}}
	</section>
	
	<footer>
		{{- partial "about-author.html" . -}}
		{{- partial "tags.html" . -}}
		{{- partial "categories.html" . -}}
	</footer>

	<aside>
		{{- partial "menu-contextual.html" . -}}
  </aside>
  
  <aside>
    {{ with .PrevInSection }}
      <a class="previous" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="next" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </aside>

</article>
{{ end }}