{{/*
Use Hugo's native Table of contents feature. You must set `toc: true` in your parameters for this to show.
https://gohugo.io/content-management/toc/
*/}}

{{/*- if .Params.toc -}}
<div>
	<p>What's in this {{ humanize .Type }}</p>
	{{ .TableOfContents }}
</div>
{{- end -*/}}

{{/*
Use Hugo's native related content feature to pull in content that may have similar parameters, like tags. etc.
https://gohugo.io/content-management/related/
*/}}

{{ $related := .Site.RegularPages.Related . | first 15 }}

{{ with $related }}
<div>
	<p>Related:</p>
	<ul>
		{{ range . }}
		<li>
			<a href="{{ .RelPermalink }}">
				{{- .Title -}}
			</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}