{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
<script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}