<footer role="contentinfo">
	<div>
		<a href="{{ .Site.BaseURL }}">
			&copy; {{ with .Site.Params.copyrightSince }}{{ . }}&ndash;{{ end }}{{ now.Format "2006" }} {{ .Site.Title }}
		</a>
		<div>{{ partial "social-follow.html" . }}</div>
	</div>
</footer>