{{ define "main" }}

{{/* "Type" "in" "<section name AKA folder in /content/>" */}}
{{ $posts 		:= where .Site.RegularPages "Type" "in" "posts" }}
{{ $projects 	:= where .Site.RegularPages "Type" "in" "projects" }}


<article class="h-entry">

	{{ with .Params.Image }}
		<div class="featured-image">
			<img src="{{ . }}">
		</div>
	{{ end }}

	<section class="e-content">
		{{- .Content -}}
	</section>

</article>


<section class="article-list">
	<header>
		<h2>{{ i18n "latest-articles" }}</h2>
	</header>

	{{ range first 5 $posts }}
	{{- partial "summary.html" . -}}
	{{ end }}

	<footer>
		{{ with .Site.GetPage "section" "post" }}
		<a href="{{ .Permalink }}">{{ T "all-articles" }} &rarr;</a>
		{{ end }}
	</footer>
</section><!-- .article-list -->


<section class="projects-list">
	<header>
		<h2>{{ i18n "latest-projects" }}</h2>
	</header>

	{{ range first 5 $projects }}
	{{- partial "summary.html" . -}}
	{{ end }}

	<footer>
		{{ with .Site.GetPage "section" "project" }}
		<a href="{{ .Permalink }}">{{ T "all-projects" }} &rarr;</a>
		{{ end }}
	</footer>
</section><!-- .projects-list -->


{{ end }}